/*
 * Design v1.0
 *
 */

img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 960px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}

@media screen and (max-width: 960px) { /* Specific to this particular image */
        img.bg {
                left: 50%;
                margin-left: -512px;   /* 50% */
        }
}

@font-face {
    font-family: 'Captureit';
    src: url('fonts/Capture_it.ttf');
    font-weight: normal;
    font-style: normal;

}

#info {
	margin-left: -18px;
	top: 111px;
	background-color: transparent;
	position: absolute;
	left: 55%;
}

h1 {
	font: 60px/68px 'Captureit', Arial, sans-serif;letter-spacing: 0;}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
	
li {font: 28px/27px 'Captureit', Arial, sans-serif;}
		
