{{ define "main" }}

  <div class="grid">
    <div id="hero-text">
      <p id="top">Hi there!</p>
      <p id="bottom">I'm SUBIDIT</p>
    </div>
    <div id="hero-img"><img src="img/man.png" alt="Illustration"></div>
  </div>
  <div class="grid">
    <div>
      <article>
        <header style="font-weight: 600; font-size: large; text-align: center;">Typography</header>
      </article>
    </div>
    <div>
      <article>
        <header style="font-weight: 600; font-size: large; text-align: center;">Posts</header>
      </article>
    </div>
    <div>
      <article>
        <header style="font-weight: 600; font-size: large; text-align: center;">Lists</header>
      </article>
    </div>
  </div>
{{ end }}
