#theme-toggle {
  text-decoration: none; 
  font-size: x-large;
  margin-bottom: 20%; 
  margin-left: -50%; 
  transition: transform 0.3s ease; 
}

#hero-text {
  margin: auto;
}

#top {
  font-weight: 300;
  font-size: large;
  font-style: italic;
  margin: 0%;
}

#bottom {
  margin-top: -5%; 
  font-size: 48px; 
  font-weight: 700;
}

#hero-img img {
  display: block;
  margin: auto;
}